<div class="jumbotron">
  <h1>What's spinning?</h1>
  <p class="lead">
    Connect to your services to build a real time musical profile to share with your friends!
  </p>

  <div class="row" ng-controller="MainCtrl">
    <p><a class="btn btn-default" ng-href="#/lastfm">Connect Last.fm</a></p>
    <p>
      <a class="btn btn-default" ng-click="twitterSignIn()">Connect Twitter</a>&nbsp; &nbsp; 
      <a class="btn btn-default" ng-click="facebookSignIn()">Connect Facebook</a>
    </p>
  </div>
  
</div>
